{% extends 'base.html' %}

{% block title %}
<title>Todolist manage - TaskMate</title>
{% endblock title %}

{% block content %}
    <div class="container">
    </br>
    {%if messages%}
        {%for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" clas="row">
        {% csrf_token %}
        <label class="col-lg-4"></label>
        <input type="text" class="form-control col-lg-6" name="task" width=50 placeholder="Add Task">
        </br>
        <button type="submit" class="btn btn-primary" col-lg-2>Add Task</button>
    </form>
    </br>
        <table class="table table-bordered text-center">
                <thead >
                    <tr class="table-dark row">
                    <th  class="col-7">Task</th>
                    <th class="col-3">Done</th>
                    <th class="col-1">Edit</th>
                    <th class="col-1">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {%if task_list%}
                    {% for obj in task_list%}
                        {%if obj.done%}
                            <tr class="table-success row" >
                                <td class="col-7"><del> {{obj.task}}</del></td>
                                <td class="col-3"><a href="{% url 'pending_task' obj.id %}"><button type="button" class="btn btn-info">Mark this Pending</button></a></td>
                                <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                                <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                                
                            </tr >
                        {% else %}
                            <tr class="row">
                                <td class="col-7"> {{obj.task}}</td>
                                <td class="col-3"><a href="{% url 'complete_task' obj.id %}"><button type="button" class="btn btn-info">Mark this completed</button></a></td>
                                <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                                <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                                
                            </tr>
                        {% endif %}
                        
                    {% endfor %}
                {%endif%}
                </tbody>
        </table>
        {% comment %} <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-link"><a class="page-link" href="#"><<</a></li>
                <li class="page-item"><a class="page-link" href="#">{{task_list.previous_page_number}}</a></li>
                <li class="page-item"><a class="page-link" href="#">{{task_list.number}}</a></li>
                <li class="page-item"><a class="page-link" href="#">{{task_list.next_page_number}}</a></li>
                <li class="page-item"><a class="page-link" href="#">>></a></li>
            </ul>
        </nav> {% endcomment %}
        <nav aria-label="Page navigation example">
        
            <ul class="pagination justify-content-end">
                <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
                {%if task_list.has_previous%}
                    <li class="page-item"><a class="page-link" href="?pg={{task_list.previous_page_number}}">{{task_list.previous_page_number}}</a></li>
                {%endif%}
                <li class="page-item"><a class="page-link" href="?pg={{task_list.number}}">{{task_list.number}}</a></li>
                {%if task_list.has_next%}
                    <li class="page-item"><a class="page-link" href="?pg={{task_list.next_page_number}}">{{task_list.next_page_number}}</a></li>
                {%endif%}
                <li class="page-item"><a class="page-link" href="?pg={{task_list.paginator.num_pages}}">>></a></li>
            </ul>
        </nav>
    </div>
{% endblock content %}